name: time-news

on:
   schedule:
    - cron: "*/5 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Package-test
        run: npm install

      - name: Eneojo-test
        run: node tests.js

        